@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body, #map, #wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family:'Open Sans',Arial,Helvetica,Sans-Serif;
}

#map {
  background: transparent no-repeat 1 1;
  float: left;
}

#form {
  height: 370px;
}
#overlay {
  background: #cc3333;
  opacity:.9;
  position: absolute;
  top:4%;
  right:0.4%;
  width:580px;
  height:380px;
  font-size:32px;
  color:#fff;
  padding:15px;
  overflow: auto;
}

#results {
  font-size: 16px !important;
}

