<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>URL Shortener</title>
</head>
<body>
<h1>Success!</h1>
<p><a href="http://yoursite.com/<%=@token%>">http://yoursite.com/<%=@token%></a></p>
</body>
</html>