<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/trips">Trips</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/trips/{{trip._id}}">{{trip.name}}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Add a Flight</li>
</ol>
<div class="page-header">
    <h3>{{trip.name}} <small>{{trip.description}}</small></h3>
</div>
<fieldset>
    <legend><i class="icon-plane"></i>&nbsp;Add a Flight</legend>
    <div class="row">
        <form name="addFlightForm" class="form-vertical">
             <div class="span4">
                 <div class="control-group">
                     <label class="control-label">Flight Info</label>
                     <div class="controls">
                         <input name="airline" class="input-medium" type="text" placeholder="Airline" ng-model="flight.airline_code" required/>
                         <input name="flight_no" class="input-mini" type="text" placeholder="Flight #" ng-model="flight.flight_no" required/>
                     </div>
                 </div>
                 <div class="control-group">
                     <label class="control-label">Departure Date/Time</label>
                     <div class="controls">
                         <div class="input-append">
                            <input name="date" class="input-small" type="text" placeholder="Date" ng-model="flight.date" data-date-format="dd/mm/yyyy" bs-datepicker required/>
                             <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                         </div>
                     </div>
                 </div>
                 <div class="control-group">
                     <label class="control-label">Terminal/Gate (optional)</label>
                     <div class="controls">
                         <input name="terminal" class="input-mini" type="text" placeholder="Terminal" ng-model="flight.terminal"/>
                         <input name="gate" class="input-mini" type="text" placeholder="Gate #" ng-model="flight.gate"/>
                     </div>
                 </div>
                 <div class="control-group">
                     <div class="controls">
                         <a class="btn btn-primary" ng-click="createFlight(flight)" ng-disabled="addFlightForm.$invalid">Add</a>
                     </div>
                 </div>
             </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label">Passenger Info</label>
                    <div class="controls" ng-repeat="passenger in passengers">
                        <input name="passenger_name" class="input-medium" type="text" placeholder="Name" ng-model="passenger.name" bs-typeahead="findFlightPassenger" required/>
                        <input name="passenger_seat" class="input-mini" type="text" placeholder="Seat #" ng-model="passenger.seat"/>
                        <a class="btn btn-mini" style="margin-bottom: 10px" ng-click="removeFlightPassenger(passenger)"><i class="icon-trash"></i></a>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-link" ng-click="addFlightPassenger()"><i class="icon-plus"></i>&nbsp;Add passenger</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>







