<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/trips">Trips</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/{{trip._id}}">{{trip.name}}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Plan Your Day</li>
</ol>
<div class="page-header">
    <h3>{{trip.name}} <small>{{trip.description}}</small></h3>
</div>
<fieldset>
    <legend><i class="icon-group"></i>&nbsp;Plan Your Day</legend>
    <div class="row">
        <form name="updateDayForm">
            <div class="span4">
                <div class="control-group">
                    <div class="controls">
                        {{notes}}
                        <textarea name="notes" type="text" placeholder="Your notes" ng-model="day.notes" rows="10"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-primary" ng-click="updateDay(day)" ng-disabled="updateDayForm.$invalid">Update</a>
                        <a class="btn" href="#/{{trip._id}}">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label">Things To Do</label>
                    <div class="controls" ng-repeat="attraction in day.attractions">
                        {{attraction.name}}
                        <a class="btn btn-mini" style="margin-bottom: 10px" ng-click="removeAttraction(attraction)"><i class="icon-trash"></i></a>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input name="attraction_name" class="input-medium" type="text" placeholder="Name" ng-model="attraction.name" bs-typeahead="findAttraction"/>
                        <a class="btn btn-link" ng-click="addAttraction(attraction)"><i class="icon-plus"></i>&nbsp;Add Attraction</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>







