<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/trips">Trips</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/{{trip._id}}">{{trip.name}}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Plan Your Day</li>
</ol>
<div class="page-header">
    <h3>{{trip.name}} <small>{{trip.description}}</small></h3>
</div>
<fieldset>
    <legend><i class="icon-group"></i>&nbsp;Plan Your Day</legend>
    <div class="row">
        <form name="updateDayForm">
            <div class="span4">
                <div class="control-group">
                    <div class="controls">
                        {{notes}}
                        <textarea name="notes" type="text" placeholder="Your notes" ng-model="day.notes"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-primary" ng-click="updateDay(day)" ng-disabled="updateDayForm.$invalid">Update</a>
                        <a class="btn" href="#/{{trip._id}}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>







