<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/trips/">Trips</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Add a Trip</li>
</ol>
<div class="page-header">
    <h3><i class="icon-suitcase"></i>&nbsp;Add a Trip</h3>
</div>
<fieldset>
    <div class="row">
        <form name="addTripForm">
            <div class="span6">
                <div class="control-group">
                    <p>Give a brief title & description of your travel plans:</p>
                    <div class="controls">
                        <input name="tripname" type="text" placeholder="e.g Europe 2013" ng-model="newTrip.name" required/>
                    </div>
                    <div class="controls">
                        <textarea name="tripdescription" cols="10" rows="10" placeholder="eg. Journey through France, Italy, and Spain..." ng-model='newTrip.description'></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-primary" ng-click="createTrip(newTrip)" ng-disabled="addTripForm.$invalid">Add</a>
                        <a class="btn" href="#/trips/">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>