<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#/trips">Trips</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{trip.name}}</li>
</ol>
<div class="page-header">
    <h3>{{trip.name}} <small>{{trip.description}}</small></h3>
</div>
<fieldset>
    <legend><i class="icon-group"></i>&nbsp;Travellers</legend>
    <div class="alert alert-info" ng-show="!trip.travellers.length">
        <strong>Who's going?</strong>
        Add some travellers to your trip (including yourself) by clicking on the button below.
    </div>
    <div class="row top-buffer" ng-repeat="traveller in trip.travellers">
        <div class="span3">
            {{traveller.name}}
        </div>
        <div class="span3">
            <a class="btn btn-danger btn-mini" ng-click="removeTraveller(traveller)"><i class="icon-trash"></i></a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="span4">
            <a class="btn btn-link" href="#/travellers/{{trip._id}}"><i class="icon-plus"></i>&nbsp;Add Traveller</a>
        </div>
    </div>
</fieldset>
<div class="row top-buffer">
    <div class="span12">
        <p>&nbsp;</p>
    </div>
</div>
<fieldset>
    <legend><i class="icon-plane"></i>&nbsp;Flights</legend>
    <div class="alert alert-info" ng-show="!trip.flights.length">
        <strong>How you gonna get there?</strong>
        Add some flights to your trip by clicking on the button below.
    </div>
    <div ng-repeat="flight in trip.flights">
        <div class="row">
            <div class="span8" style="font-weight:bold; padding:3px; background-color: #EBEBEB !important;">{{flight.date | date:'fullDate'}}</div>
        </div>
        <div class="row top-buffer" ng-repeat="leg in flight.flight_legs">
            <div class="span2">
                <small>LV</small>&nbsp;<strong>{{leg.departure_time | date:'shortTime'}}</strong><br/>
                {{leg.departure_airport}}
            </div>
            <div class="span1">
                <i class="icon-arrow-right"></i>
            </div>
            <div class="span2">
                <small>AR</small></small>&nbsp;<strong>{{leg.arrival_time | date:'shortTime'}}</strong><br/>
                {{leg.arrival_airport}}
            </div>
            <div class="span2">
                <strong>{{leg.career_code}} {{leg.flight_no}}</strong><br/>
                <small>{{leg.distance}}&nbsp;mi&nbsp;|&nbsp;{{leg.flight_duration}}&nbsp;mins</small>
            </div>
            <div class="span1">
                <a class="btn btn-danger btn-mini" ng-click="removeFlight(flight)"><i class="icon-trash"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="span8" style="font-weight:bold; padding:3px; background-color: #EBEBEB !important;">{{flight.date | date:'fullDate'}}</div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="span4">
            <a class="btn btn-link" href="#/flights/{{trip._id}}"><i class="icon-plus"></i>&nbsp;Add Flight</a>
        </div>
    </div>
</fieldset>

